# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/

# Tools
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Runtime outputs
runs/
configs/
*.h5

# Local data
data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
